[Desktop Entry]
Type=Application
Name=Programmer
Name[be]=Programmer
Name[bg]=Programmer
Name[ca]=Programmer
Name[ca@valencia]=Programmer
Name[cs]=Programmer
Name[da]=Programmer
Name[de]=Programmer
Name[en_GB]=Programmer
Name[eo]=Programmer
Name[es]=Programmer
Name[et]=Programmer
Name[eu]=Programmer
Name[fi]=Programmer
Name[fr]=Programmer
Name[gl]=Programmer
Name[hr]=Programmer
Name[hu]=Programmer
Name[id]=Programmer
Name[it]=Programmer
Name[ja]=Programmer
Name[ka]=Programmer
Name[lv]=Programmer
Name[nb]=Programmer
Name[nds]=Programmer
Name[nl]=Programmer
Name[nn]=Programmer
Name[oc]=Programmer
Name[pl]=Programmer
Name[pt]=Programmer
Name[pt_BR]=Programmer
Name[ro]=Programmer
Name[ru]=Programmer
Name[sk]=Programmer
Name[sl]=Programmer
Name[sv]=Programmer
Name[te]=Programmer
Name[tr]=Programmer
Name[uk]=Programmer
Name[zh_CN]=Programmer
Comment=To keep account of the performed works working as the master in setup of the computer.
Comment[ru]=Вести учёт выполненых работ работая мастером по настройке компьютера.
Exec=programmer
Icon=programmer
Categories=GNOME;Utility;
